 @import url(https://fonts.googleapis.com/css?family=Spectral:400,700);

 body{
 	width: 100%;
 	margin: 0;
 	font-family: "Spectral";
	font-size: 1em;
 }

 #wrap{
 	width: 100vw;
 	height: 100vh;
 	overflow: auto;
 }

 header{
 	border: 2px dashed #7f7f7f;
 	width: 90vw;
 	height: auto;
 	margin-left: 5vw;
 	margin-top: 10px;
 	text-align: center;
 }

 #header-info{
 	font-size: 1.7em;
 	padding-top: 35px;
 	padding-left: 35px;
 	text-align: center;
 }

 #header-about{
 	font-size: 1em;
 	padding-left: 35px;
 }

 nav{
 	position: relative;
 }

 nav ul{
 	list-style: none;
 	text-align: center;
 	padding-right: 35px;
 	padding-bottom: 10px;
 }

 nav ul li{
 	display: inline;
 	padding-right: 35px;
 }

 nav ul li a{
 	text-decoration: none;
 	color: #7f7f7f;
 	font-size: 1em;
 	/*How does this number below work?*/
 	font-weight: 150;
 }

 .Images{
 	width: 50vw;
 	height: 25vh;
	margin-right: 5px;
 	margin-top: 5px;
 	padding: 5px;

 }

 .Labels{
 	width: 45vw;
 	height: 25vh;
 	margin-right: 5px;
 	margin-top: 5px;
/* 	border: 1px solid #7f7f7f;*/
 	padding: 5px;
 }

 #Shima{
 	position: absolute;
 	background-color: red;
 	float: left;
 	z-index: 2
 }

 #Shima: hover{
 	transform: translate(45vw);
 	transition-property: width;
 	transition-duration: 3s;
 	transition-timing-function: linear;
 	transition-delay: 1s;

}

/* #Zemrude
 #Millinery*/

 #Shima-Title{
 	position: relative;
 	float: right;
 	background-color: orange;
 	z-index: 1;
}

#Shima-Title-Text{
	text-align: center;
	text-decoration-color: #ffffff;
	font-family: "Spectral";
	font-size: 1em;
	padding: 22px;
	margin-left: 8px;
	margin-top: 22px;

}

 #Shima-Desc{
 	position: relative;
 	float: left;
 	background-color: yellow;
 	z-index: 1;
}
 #Shima-Desc-Text{
 	text-align: center;
	text-decoration-color: #ffffff;
	font-family: "Spectral";
	font-size: 1em;
	padding: 22px;
	margin-left: 8px;
	margin-top: 22px;

}

/* #Zemrude-Title
 #Zemrude-Desc
 #Millinery-Title
 #Millinery-Desc*/

/* Below Needs to be connected to Shima Items above*/

.Images2{
	width: 25vw;
 	height: 50vh;
}

.Pop-Up{
	width: 25vw;
 	height: 50vh;
}

#Shima2{
	position: relative;
 	background-color: blue;
 	float: left;
 }

#Shima3{
	position: relative;
 	background-color: purple;
 	float: right;
}

#Shima-Detail{
 	position: relative;
 	float: left;
 	background-color: pink;

}

footer{

}